@model HealthHub_MVC_CORE.Models.Ambulance
@{
    ViewData["Title"] = "UpdateAmbulance";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update Ambulance</h4>

                        <form asp-action="UpdateAmbulance" asp-controller="Admin" method="Post">
                            <input type="hidden" asp-for="Id" />

                            <div class="mb-3">
                                <label asp-for="Name" class="form-label">Name</label>
                                <input asp-for="Name" type="text" runat="server" class="form-control" id="name" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="AmbulanceNo" class="form-label">Ambulance No</label>
                                <input asp-for="AmbulanceNo" type="text" runat="server" class="form-control" id="no" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="AmbulanceStatus" class="form-label">Ambulance Status</label>
                                <select class="form-select" asp-for="AmbulanceStatus" runat="server" id="astatus" aria-label="Default select example">
                                    <option value="Select Status" selected>Select Status</option>
                                    <option value="Available">Available</option>
                                    <option value="Busy">busy</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label asp-for="AmbulanceDriverName" class="form-label">Ambulance Driver Name</label>
                                <input type="text" asp-for="AmbulanceDriverName" runat="server" class="form-control" id="adname" />
                            </div>
                            <button type="submit" runat="server" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

