@model HealthHub_MVC_CORE.Models.Appointment
@{
    ViewData["Title"] = "UpdateAppoinment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-panel">

    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Update Appoinment</h3>
        </div>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update Appointment</h4>

                        <form asp-action="UpdateAppointment">
                            <input type="hidden" asp-for="Id" />

                            <div class="mb-3">
                                <label asp-for="Patientname" class="form-label">Patient Name</label>
                                <input type="text" disabled asp-for="Patientname" runat="server" class="form-control" id="pname" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="Doctorname" class="form-label">Doctor Name</label>
                                <select disabled asp-for="Doctorname" class="form-select" id="dname" aria-label="Default select example">
                                    <option selected>Chosse</option>
                                    <option value="Shrukant Sharma">Shrukant Sharma</option>
                                    <option value="Nishani kansu">Nishani kansu</option>
                                    <option value="murli parmar">murli parmar</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label asp-for="AppointmentDate" class="form-label">Appointment Date</label>
                                <input disabled type="date" asp-for="AppointmentDate" class="form-control" id="Appointmentdate" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="Status" class="form-label">Status</label>
                                <select  asp-for="Status" class="form-select" id="dname" aria-label="Default select example">
                                    <option selected>Chosse</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Active">Active</option>
                                </select>
                            </div>
                                    
                            <div class="mb-3">
                                <label asp-for="Problem" class="form-label">Problem</label>
                                <input disabled type="text" asp-for="Problem" class="form-control" id="problem" />
                            </div>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
