@model IEnumerable<HealthHub_MVC_CORE.Models.Department>
@{
    ViewData["Title"] = "List Of Deaprtment";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
        <div class="main-panel">
            <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> List of Department </h3>
            </div>
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">List of Department</h4>
                           
                            <asp:Panel CssClass="my-2" ID="Panel1" runat="server">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Department department in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => department.Id)</td>
                                            <td>@Html.DisplayFor(modelItem => department.Name)</td>
                                            <td>@Html.DisplayFor(modelItem => department.Description)</td>
                                            <td>@Html.DisplayFor(modelItem => department.Status)</td>
                                            
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            </asp:Panel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
   



